<template>
<div>
  <NavBar></NavBar>
   <div>
  <div>
    <b-card-group deck>
      <b-card
        align="center"
      >
      <b-container fluid>
      <b-row align-h="center">
        <b-col sm="4">
 <b-card bg-variant="success" text-variant="white" header="R1" class="text-center">
        <b-card-text><i class="fa fa-usb fa-3x fa-fw "><br></i></b-card-text>
      </b-card>
        </b-col>
        <b-col sm="8">
            <br>
          <b-card-text><h1>{{ R1axisLoad }}</h1></b-card-text>
          <b-card-text>QC: {{ R1axisLoad_qc }}</b-card-text>
        </b-col>
      </b-row>
                        <br>
        <b-row align-h="center">
                <b-card-text class="text-muted">Since last time</b-card-text>
        </b-row>
    </b-container>
      </b-card>
         <b-card
        align="center"
      >
      <b-container fluid>
      <b-row align-h="center">
        <b-col sm="4">
 <b-card bg-variant="info" text-variant="white" header="X" class="text-center">
        <b-card-text><i class="fa fa-usb fa-3x fa-fw "><br></i></b-card-text>
      </b-card>
        </b-col>
        <b-col sm="8">
            <br>
          <b-card-text><h1>{{ XaxisLoad }}</h1></b-card-text>
          <b-card-text>QC: {{ XaxisLoad_qc }}</b-card-text>
        </b-col>
      </b-row>
                        <br>
        <b-row align-h="center">
                <b-card-text class="text-muted">Since last time</b-card-text>
        </b-row>
    </b-container>
      </b-card>
    </b-card-group>
        <b-card-group deck>
              <b-card
        align="center"
      >
      <b-container fluid>
      <b-row align-h="center">
        <b-col sm="4">
 <b-card bg-variant="danger" text-variant="white" header="Y" class="text-center">
        <b-card-text><i class="fa fa-usb fa-3x fa-fw "><br></i></b-card-text>
      </b-card>
        </b-col>
        <b-col sm="8">
            <br>
          <b-card-text><h1>{{ YaxisLoad }}</h1></b-card-text>
          <b-card-text>QC: {{ YaxisLoad_qc }}</b-card-text>
        </b-col>
      </b-row>
                        <br>
        <b-row align-h="center">
                <b-card-text class="text-muted">Since last time</b-card-text>
        </b-row>
    </b-container>
      </b-card>
        <b-card
        align="center"
      >
      <b-container fluid>
      <b-row align-h="center">
        <b-col sm="4">
 <b-card bg-variant="warning" text-variant="white" header="Z" class="text-center">
        <b-card-text><i class="fa fa-usb fa-3x fa-fw "><br></i></b-card-text>
      </b-card>
        </b-col>
        <b-col sm="8">
            <br>
          <b-card-text><h1>{{ ZaxisLoad }}</h1></b-card-text>
          <b-card-text>QC: {{ ZaxisLoad_qc }}</b-card-text>
        </b-col>
      </b-row>
                        <br>
        <b-row align-h="center">
                <b-card-text class="text-muted">Since last time</b-card-text>
        </b-row>
    </b-container>
      </b-card>
        </b-card-group>
  </div>
  <br>
</div>
  <ve-line :data="chartData"></ve-line>
</div>
</template>

<script>
/* eslint-disable */
import NavBar from './NavBar.vue'


export default {
  name: 'AxisLoad',
  components: {
    NavBar
  },
  data: function () {
    return {
      chartData: {
        columns: ['Date','R1axisLoad','XaxisLoad','YaxisLoad','ZaxisLoad'],
        rows: []
      },
      R1axisLoad: 0,
      R1axisLoad_qc: 0,
      XaxisLoad: 0,
      XaxisLoad_qc: 0,
      YaxisLoad: 0,
      YaxisLoad_qc: 0,
      ZaxisLoad: 0,
      ZaxisLoad_qc: 0,
      latestTime: ''
    }
  },
    created() {
    this.$parent.loggedIn();
  },
 mounted() {
   var obj = {};
    for (let data of this.$parent.data) {
        obj = {
          Date: data._time.slice(0,13),
          R1axisLoad: data.R1axisLoad,
          XaxisLoad:  data.XaxisLoad,
          YaxisLoad: data.YaxisLoad,
          ZaxisLoad: data.ZaxisLoad
        }
        this.chartData.rows.push(obj);
    }
    for (let data of this.$parent.data) {
        if(this.latestTime == '' || Date.parse(this.latestTime) < Date.parse(data._time)) {
          this.latestTime = data._time;
            this.R1axisLoad = data.R1axisLoad;
            this.R1axisLoad_qc = data.R1axisLoad_qc;
            this.XaxisLoad = data.XaxisLoad;
            this.XaxisLoad_qc = data.XaxisLoad_qc;
            this.YaxisLoad = data.YaxisLoad;
            this.YaxisLoad_qc = data.YaxisLoad_qc;
            this.ZaxisLoad = data.ZaxisLoad;
            this.ZaxisLoad_qc = data.ZaxisLoad_qc;
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
