<template>
<div>
  <NavBar></NavBar>
   <div>
  <div>
    <b-card-group deck>
  <b-card
        align="center"
      >
      <b-container fluid>
      <b-row align-h="center">
        <b-col sm="4">
 <b-card bg-variant="success" text-variant="white" header="CurrentValue" class="text-center">
        <b-card-text><i class="fa fa-clock-o fa-3x fa-fw "><br></i></b-card-text>
      </b-card>
        </b-col>
        <b-col sm="8">
            <br>
          <b-card-text><h1>{{ currentValueCounter }}</h1></b-card-text>
          <b-card-text>QC: {{ currentValueCounter_qc }}</b-card-text>
        </b-col>
      </b-row>
                        <br>
        <b-row align-h="center">
                <b-card-text class="text-muted">Since last time</b-card-text>
        </b-row>
    </b-container>
      </b-card>
          <b-card
        align="center"
      >
      <b-container fluid>
      <b-row align-h="center">
        <b-col sm="4">
 <b-card bg-variant="info" text-variant="white" header="Setpoint" class="text-center">
        <b-card-text><i class="fa fa-clock-o fa-3x fa-fw "><br></i></b-card-text>
      </b-card>
        </b-col>
        <b-col sm="8">
            <br>
          <b-card-text><h1>{{ setpointCounter }}</h1></b-card-text>
          <b-card-text>QC: {{ setpointCounter_qc }}</b-card-text>
        </b-col>
      </b-row>
                        <br>
        <b-row align-h="center">
                <b-card-text class="text-muted">Since last time</b-card-text>
        </b-row>
    </b-container>
      </b-card>
    </b-card-group>
  </div>
  <br>
</div>
  <ve-line :data="chartData"></ve-line>
</div>
</template>

<script>
/* eslint-disable */
import NavBar from './NavBar.vue'


export default {
  name: 'Chart',
  components: {
    NavBar
  },
  data: function () {
    return {
      chartData: {
        columns: ['Date','CurrentValueCounter', 'SetpointCounter'],
        rows: []
      },
      currentValueCounter: 0,
      currentValueCounter_qc: 0,
      setpointCounter: 0,
      setpointCounter_qc: 0,
      latestTime: ''
    }
  },
    created() {
    this.$parent.loggedIn();
  },
 mounted() {
   var obj = {};
    for (let data of this.$parent.data) {
        obj = {
          Date: data._time,
          CurrentValueCounter: data.CurrentValueCounter,
          SetpointCounter: data.SetpointCounter,
        }
        this.chartData.rows.push(obj);
    }
    for (let data of this.$parent.data) {
        if(this.latestTime == '' || Date.parse(this.latestTime) < Date.parse(data._time)) {
          this.latestTime = data._time;
            this.currentValueCounter = data.CurrentValueCounter;
            this.currentValueCounter_qc = data.CurrentValueCounter_qc;
            this.setpointCounter = data.SetpointCounter;
            this.setpointCounter_qc  = data.SetpointCounter_qc;
        }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h1, h2 {
    font-weight: normal;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    display: inline-block;
    margin: 0 10px;
  }
  a {
    color: #42b983;
  }
</style>
