<template>
<div>
  test
</div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import 'font-awesome/css/font-awesome.css'
import Vue from 'vue'
import VueEvents from 'vue-events'

export default {
  name: 'DataLoad',
  data: function () {
    return {
        account: {
            email: '',
            password: ''
        }
        ,
        msg: "Loading...",
        spinnerStatus: false
   }
  },
  mounted() {
      this.$router.push('/');
  }
}
</script>