<template>
    <div @click="onClick">
      <div class="inline field">
        <label>AbnormalOutput: </label>
        <span>{{rowData.AbnormalOutput}}</span>
        <span>__QC: {{rowData.AbnormalOutput_qc}}</span>
      </div>
      <div class="inline field">
        <label>CountingArrival: </label>
        <span>{{rowData.CountingArrival}}</span>
                <span>__QC: {{rowData.CountingArrival_qc}}</span>
      </div>
      <div class="inline field">
        <label>CurrentValueCounter: </label>
        <span>{{rowData.CurrentValueCounter}}</span>
                <span>__QC: {{rowData.CurrentValueCounter_qc}}</span>
      </div>
      <div class="inline field">
        <label>R1axisLoad: </label>
        <span>{{rowData.R1axisLoad}}</span>
                <span>__QC: {{rowData.R1axisLoad_qc}}</span>
      </div>
      <div class="inline field">
        <label>SetpointCounter: </label>
        <span>{{rowData.SetpointCounter}}</span>
                <span>__QC: {{rowData.SetpointCounter_qc}}</span>
      </div>
        <div class="inline field">
        <label>XaxisLoad: </label>
        <span>{{rowData.XaxisLoad}}</span>
                <span>__QC: {{rowData.XaxisLoad_qc}}</span>
      </div>
         <div class="inline field">
        <label>YaxisLoad: </label>
        <span>{{rowData.YaxisLoad}}</span>
            <span>__QC: {{rowData.YaxisLoad_qc}}</span>
      </div>
           <div class="inline field">
        <label>ZaxisLoad: </label>
        <span>{{rowData.ZaxisLoad}}</span>
                <span>__QC: {{rowData.ZaxisLoad_qc}}</span>
      </div>
    </div>
  </template>

  <script>
  /* eslint-disable */

  export default {
    props: {
      rowData: {
        type: Object,
        required: true
      },
      rowIndex: {
        type: Number
      }
    },
    methods: {
      onClick (event) {
        console.log('my-detail-row: on-click', event.target)
      }
    },
  }
  </script>