<template>
  <div class="hello">
    <!-- <ul>
      <li v-for="index in array" :key="index">
        index: {{ index.CurrentValueCounter }}
      </li>
    </ul> -->
    <NavBar></NavBar>
     <button @click="refreshTable"><i class="fa fa-refresh"></i></button>
     <h5>{{ dataMsg }}</h5>
     <vuetable ref="vuetable"
			:api-mode="false"
			:fields="fields"
      :per-page="perPage"
			:data-manager="dataManager"
      :append-params="moreParams"
      pagination-path="pagination"
	    @vuetable:pagination-data="onPaginationData"
      detail-row-component="my-detail-row"
		>
			<div slot="actions" slot-scope="props">
				<button 
					class="ui small button" 
					@click="onActionClicked('watch-more',props.rowData)"
				>
					<i class="zoom icon"></i>
				</button>
				<!-- <button 
					class="ui small button" 
					@click="onActionClicked('delete-item', props.rowData)"
				>
					<i class="delete icon"></i>
				</button> -->
			</div>
		</vuetable>
    <b-container>
      <b-row>
      <b-col sm="4">
        <vuetable-pagination-info ref="paginationInfo"
        ></vuetable-pagination-info>
      </b-col>
      <b-col sm="8">
    <div style="padding-top:10px">
      <vuetable-pagination ref="pagination"
        @vuetable-pagination:change-page="onChangePage"
      ></vuetable-pagination>
    </div>
    </b-col>
    </b-row>
    </b-container>
  </div>
</template>

<script>
/* eslint-disable */
import Vuetable from "vuetable-2";
import VuetablePagination from "vuetable-2/src/components/VuetablePagination";
import VuetablePaginationInfo from "vuetable-2/src/components/VuetablePaginationInfo";
import FieldsDef from "./FieldsDef.js";
import _ from "lodash";
import FilterBar from './FilterBar.vue'
import Vue from 'vue'
import VueEvents from 'vue-events'
import NavBar from './NavBar.vue'
import DetailRow from './DetailRow.vue'

Vue.use(VueEvents)

Vue.component('filter-bar', FilterBar)
 Vue.component('my-detail-row', DetailRow)

export default {
  name: 'HelloWorld',
  components: {
    Vuetable,
    VuetablePagination,
    VuetablePaginationInfo,
    NavBar
  },

  data() {
    return {
      fields: FieldsDef,
      perPage: 10,
      data: [],
      moreParams: {},
      dataMsg: 'Data is loading...'
    };
  },
  watch: {
    data(newVal, oldVal) {
      this.$refs.vuetable.refresh();
    }
  },
  created() {
  
  },
  mounted() {
    // this.$root.$on('refresh', () => {
    //     console.log("refresh");
    //     this.$refs.vuetable.refresh();
    // });
    if(this.$parent.dataLoaded){
       this.dataMsg = 'Data is loaded.'
    }
    this.$parent.loggedIn();
    this.$events.$on('filter-set', eventData => this.onFilterSet(eventData))
    this.$events.$on('filter-reset', e => this.onFilterReset())
  },
  methods: {
    onPaginationData(paginationData) {
      this.$refs.pagination.setPaginationData(paginationData);
      this.$refs.paginationInfo.setPaginationData(paginationData);
    },
    onChangePage(page) {
      this.$refs.vuetable.changePage(page);
    },
    dataManager(sortOrder, pagination) {
      this.data = this.$parent.data
      if (this.data.length < 1) return;

      let local = this.data;

      // sortOrder can be empty, so we have to check for that as well
      if (sortOrder.length > 0) {
        console.log("orderBy:", sortOrder[0].sortField, sortOrder[0].direction);
        local = _.orderBy(
          local,
          sortOrder[0].sortField,
          sortOrder[0].direction
        );
      }

      pagination = this.$refs.vuetable.makePagination(
        local.length,
        this.perPage
      );
      console.log('pagination:', pagination)
      let from = pagination.from - 1;
      let to = from + this.perPage;

      return {
        pagination: pagination,
        data: _.slice(local, from, to)
      };
    },
    onActionClicked(action, data) {
      console.log("slot actions: on-click", data.name);
    },
    doFilter () {
      this.$events.fire('filter-set', this.filterText)
    },
    resetFilter () {
      this.filterText = ''  // clear the text in text input
      this.$events.fire('filter-reset')
    },
    onFilterSet (filterText) {
       this.moreParams = {
            'filter': filterText
        }
         vm = this
        Vue.nextTick( function() {
          vm.$refs.vuetable.refresh()
        })
    },
    onFilterReset () {
      this.moreParams = {}
        vm = this
        Vue.nextTick( function() {
          vm.$refs.vuetable.refresh()
        })
    },
     onActionClicked (action, data) {
       if(action =='watch-more'){
        this.$refs.vuetable.toggleDetailRow(data.index);
       }
        if (action == 'delete-item') {
        if (confirm('Are you sure to delete this data')) {
          this.$http.delete('https://semens-practice.herokuapp.com/api/v1/' + data._id).then(function(response){
        })
        }
      }
      },
      refreshTable() {
        console.log("refresh");
        this.$refs.vuetable.refresh();
      },
      getData() {
        this.data = [];
        this.$parent.data = [];
        dataMsg='Data is loading...';
        this.$parent.getData();
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button.ui.button {
  padding: 8px 3px 8px 10px;
	margin-top: 1px;
	margin-bottom: 1px;
}
</style>
