<template>
<div></div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import 'font-awesome/css/font-awesome.css'
import Vue from 'vue'
import VueEvents from 'vue-events'
import hello from './HelloWorld.vue'

export default {
  name: 'LogOut',
  data: function () {
    return {
        account: {
            email: '',
            password: ''
        }
        ,
        msg: "Loading...",
        spinnerStatus: false
   }
  },
  mounted() {
      this.$store.commit('setToken', '');
      this.$parent.data = [];
      this.$router.push('/login');
      hello.dataMsg = 'Data is loading...';
  }
}
</script>