<template>
<div>
  <b-navbar toggleable="lg" type="light" variant="">
    <b-navbar-brand href="#"><img src="../assets/siemens.svg"></b-navbar-brand>

    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item href="#" @click="goToTablePage()">Table</b-nav-item>
          <b-nav-item-dropdown right>
          <template slot="button-content">Chart</template>
          <b-dropdown-item href="#" @click="goToCounterPage()">Counter</b-dropdown-item>
          <b-dropdown-item href="#" @click="goToAxisPage()">AxisLoad</b-dropdown-item>
        </b-nav-item-dropdown>     
         </b-navbar-nav>

      <b-navbar-nav class="ml-auto">

        <b-nav-item-dropdown right>
          <template slot="button-content"><em>User</em></template>
          <!-- <b-dropdown-item href="#" >Profile</b-dropdown-item> -->
          <b-dropdown-item href="#" @click="logOut()">Log Out</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  </div>
  </template>

  <script>
  /* eslint-disable */
  import Vue from 'vue'
  import VueEvents from 'vue-events'
  import login from './Login.vue'
  import axios from "axios";

    export default {
        name:"NavBar",
        data () {
        return {
            filterText: ''
        }
        },
        methods: {
        goToTablePage() {
            this.$router.push('/');
        },
        goToCounterPage() {
            this.$router.push('/chart');
        },
        goToAxisPage() {
            this.$router.push('/axisLoad');
        },
        logOut () {
             this.$router.push('/logOut');
        }
        }
  }
</script>