<template>
    <div class="container signin-container">
        <div class="row">
            <div class="col"></div>
            <div class="col-sm-12 col-md-8">
                <div class="card signin-card">
                  <div class="card-body">
                      <form class="signin-form" @submit.prevent="register">
                          <div class="form-group">
                            <input v-model="account.email" type="email" class="form-control" id="emailInput" placeholder="Email">
                          </div>
                          <div class="form-group">
                            <input v-model="account.password" type="password" class="form-control" id="passwordInput" placeholder="Password">
                          </div>
                          <button type="submit" class="btn signin-btn btn-lg">Sign Up</button>
                          <div class="form-check">
                              <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox"> Remember me
                                  <a href="#"> Need Help?</a>
                              </label> 
                          </div>
                        </form>
                  </div>
                </div>
                    <router-link to="/login" class="create-new-account">Have An Account</router-link>
            </div>
            <div class="col"></div>
        </div>
        <BlockUI :message="msg"
             v-show="spinnerStatus">
            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
          </BlockUI>  
    </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import 'font-awesome/css/font-awesome.css'
import Vue from 'vue'
import VueEvents from 'vue-events'

export default {
  name: 'Register',
  data: function () {
    return {
        account: {
            email: '',
            password: ''
        }
        ,
        msg: "Loading...",
        spinnerStatus: false
    }
  },
   methods: {
    register () {
    axios
      .post('/account/register',this.account)
      .then((res) => {
        console.log(res);
        this.$router.push('/login');
        })
      .catch((err) => { 
        console.log(err);
        });
        }
    }
   
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
body.signin-body {
    background-color: #e6f2ff;
}

.container.signin-container {
    margin-top: 8%;
}

.card.signin-card {
    padding: 40px 0px 20px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0, 0 , 0, .5);
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

img.signin-img {
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}

form.signin-form {
    max-width: 350px;
    margin: auto;
}

button.signin-btn {
    color: #ffffff;
    background-color: #d64829;
    width: 100%;
    margin-bottom: 1.2rem;
}

a.create-new-account {
    font-size: 1.2rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}
</style>
