<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col >
              <sidebar-menu :menu="menu" @itemClick="onItemClick"/>
        </b-col>
        <b-col sm="11">
          <!-- <img src="./assets/logo.png"> -->
          <router-view/>
        </b-col>
      </b-row>
    </b-container>
     <BlockUI :message="msg"
             v-show="spinnerStatus">
        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
      </BlockUI>  
      
  </div>
</template>

<script>
/* eslint-disable */
import axios from "axios";
import 'font-awesome/css/font-awesome.css'
import hello from './components/HelloWorld.vue'

export default {
  name: 'App',
  data () {
    return {
      menu: [
        {
          header: true,
          title: 'SIEMENS'
          // component: componentName
          // visibleOnCollapse: true
          // class:''
          // attributes: {}
        },
        {
          href: '/',
          title: 'Table',
          icon: 'fa fa-table'
          // disabled: true
          // class:''
          // attributes: {}
          // alias: '/path'
          /*
          badge: {
          ext: 'new',
          // class:''
          // attributes: {}
          }
          */
        },
        {
          href: '/chart',
          title: 'Charts',
          icon: 'fa fa-line-chart',
          child: [
            {
              href: '/chart',
              title: 'Counter'
            },
            {
              href: '/axisLoad',
              title: 'AxisLoad'
            }
          ]
        }
      ],
      data: [],
      msg: "Loading...",
      spinnerStatus: false,
      token: '',
      dataLoaded: false
    }
  },
  methods: {
    getData() {
            axios
            .get()
            .then((res) => {
            console.log("I am loading.");
            this.dataLoaded = true;
            this.$router.push('/chart')
            this.$root.$emit('refresh');
            this.data = res.data;
            })
            .catch((err) => { 
            console.log(err);
            });
      },
      onItemClick(event, item) {
    },
    loggedIn() {
    if (this.$store.getters.token == '') {
      this.$router.push('/login');
      alert('Please Log In.');
    }
    }
    },
    created(){
    if (this.$store.getters.token == '') {
      this.$router.push('/login');
      alert('Please Log In.');
    }
    },
   mounted() {
    let $vue = this;
    axios.interceptors.request.use(
      function(config) {
        $vue.spinnerStatus = true;
        return config;
      },
      function(error) {
        $vue.spinnerStatus = false;
        return Promise.reject(error);
      }
    );
    // Add a response interceptor
    axios.interceptors.response.use(
      function(response) {
        setTimeout(function() {
          $vue.spinnerStatus = false;
        }, 3000);
        return response;
      },
      function(error) {
        $vue.spinnerStatus = false;
        return Promise.reject(error);
      }
    );
    if (this.$store.getters.token == '') {
      this.$router.push('/login');
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
